@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root{
    --dark-green-color: #178121;
    --light-green-color: #72da7c;   
    --dark-color: #202020;
    --light-gray: #dedede;
    --dark-gray: #a1a1a0;
    --light-color: #fff;
    --poppins-font: 'Poppins', sans-serif;
    --transition: all 0.3s ease-in-out;
    --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2)!important;
}

/* some resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: var(--poppins-font);
}
img{
    width: 100%;
    display: block;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
.bg-green{
    background-color: var(--dark-green-color);
}
.bg-white{
    background-color: var(--light-color);
}
.text-green{
    color: var(--dark-green-color);
}
.text-white{
    color: var(--light-color);
}

/* button */
 button{
    border: none;
    cursor: pointer;
}
.btn{
    color: var(--light-color);
    padding: .9rem 4rem;
    border-radius: 3rem;
    display: inline-block;
    background-color: #d80f55;
    border: 1px solid #d80f55;
    font-weight: 500;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}

.btn:hover{
     box-shadow: 0 0 15px 2px rgba(237, 33, 33, 0.92);
}

.container{
    max-width: 95vw;
    margin: 0 auto;
    padding: 0 1rem;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid{
    display: grid;
}
input{
    outline: 0;
}
.lead{
    font-size: 25px;
    text-transform: capitalize;
}
h1, h2, h3{
    text-transform: capitalize;
    margin-top: 0;
    line-height: 1.3;
}
.text{
    opacity: 0.9;
}
.text-md{
    font-size: 1.5rem;
}
.text-lg{
    font-size: 2rem;
    font-weight: 500;
}
.text-sm{
    font-size: 1.3rem;
}
.py{
    padding: 10.9rem 0;
}
.text-center{
    text-align: center;
}

/* navbar */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3.2rem 0;
    z-index: 999;
}
.navbar .container{
     justify-content: space-between;
}
.navbar-brand img{
    width: 168px;
}
.navbar-show-btn, .navbar-hide-btn{
    background-color: transparent;
    width: 30px;
    transition: var(--transition);
}
button[class ^= navbar]:hover{
    transform: scale(1.1);
}


.navbar-collapse{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 8rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
    transform: translateX(110%);
    transition: var(--transition);
    z-index: 1000;
}
/* navbar show class */
.navbar-show{
    transform: translateX(0);
}
.navbar-hide-btn{
    position: absolute;
    right: 2rem;
    top: 4.5rem;
}
.nav-item{
    margin: 1.4rem 0;
}
.nav-link{
    opacity: 0.8;
    font-weight: 600;
    transition: var(--transition);
    display: inline-block;
}
.nav-link:hover{
    opacity: 1;
    color: var(--dark-green-color);
    transform: translateX(10px);
}

.second-logo img {
    width: 168px;
    height: 58px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url(../assets/img.jpg);
    height: 100vh;
    background-size: cover;
    background-blend-mode: darken;
}
 
.accordion {
    margin: 60px auto;
    width: 600px;
}
.accordion li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.15);
    font-family: var(--poppins-font);
    opacity: 0.7;
}
.accordion li label {
   display: flex;
   align-items: center;
   padding: 10px;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
}
label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}
input[type="radio"] {
    display: none;
}
.accordion .content {
    color: #202020;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;  
}
.accordion input[type="radio"]:checked + label::before {
     content: '-'; 
}

/* about section */
.about {
    background-color: var(--light-green-color);
}
.section-head h2{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 3rem;
    text-align: center;
}
.border-line{
    height: .4rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--light-color);
    position: relative;
}
.border-line::after{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 102px;
    background-color: var(--dark-green-color);
}
.about-left{
    margin-bottom: 6rem;
}
.about-right{
    margin-top: 16.8rem;
}
.about-left .text{
    margin: 5.6rem 0;
    line-height: 2.3;
    text-align: justify;
}
.about .btn-white{
    color: var(--dark-gray);
}
.about-right .img{
    width: 100%;
    max-width: 537px;
    position: relative;
}
.about-right .img img{
    transform: scaleX(1.03);
    position: relative;
    top: -80px;
    left: 4px;
}
.about-right .img::after, .about-right .img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

    /* services section */
.services .section-head .text-lg{
    color: var(--dark-gray);
    margin-top: -2rem;
}
.services .section-head img{
    margin: 3.7rem auto;
}
.line-art{
    max-width: 240px;
    margin: auto;
}
.line-art img{
    width: 30px;
}
.line-art div{
    width: 100px;
    height: 2px;
    background-color: var(--light-gray);
}
.services-inner{
    padding: 6rem 0;
}
.service-item{
    padding: 3rem;
    margin-bottom: 3rem;
}
.service-item:last-child{
    margin-bottom: 0;
}
.service-item .icon img{
    width: 80px;
    margin: auto;
}
.service-item h3{
    margin: 5rem 0;
    opacity: 0.7;
}

/* doctors panel */
.doc-panel {
    background-color: var(--light-green-color);
}
.doc-panel-inner{
    margin-top: 8rem;
}
.doc-panel-item{
    margin-bottom: 6rem;
}
.doc-panel-item:last-child{
    margin-bottom: 0;
}
.doc-panel-item .img{
    position: relative;
    height: 440px;
    background-color: var(--light-gray);
    overflow: hidden;
    align-items: flex-end;
}
.doc-panel-item .img .info{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100px;
     flex-direction: column;
    transition: var(--transition);
}
.doc-panel-item .img{
    max-width: 357px;
    margin-left: auto;
    margin-right: auto;
}
.doc-panel-item:hover .info{
    bottom: 0;
}

/* contact section */
.contact-left{
    margin-bottom: 6rem;
    height: 100%;
}
.contact-left iframe{
    width: 100%;
    height: 100%;
     object-fit: cover;
}
.contact-right{
    padding: 5rem 4rem;
}
.contact-right form{
    margin-top: 5rem;
}
.form-element .form-control{
    width: 100%;
    background-color: var(--light-green-color);
    border: none;
    outline: 0;
    padding: 1rem 1.6rem;
    margin-bottom: 1.6rem;
    color: var(--light-color);
}
.form-element .form-control::placeholder{
    color: var(--light-color);
}
.btn-submit{
    margin-top: 4rem;
    color: var(--dark-color);
    padding: .9rem 4rem;
    border-radius: 3rem;
    display: inline-block;
    font-weight: 500;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}
.btn-submit i{
    margin-right: 2rem;
}

/* footer */
.footer{
    background-color: var(--dark-color);
}
.footer-item{
    margin-bottom: 6rem;
}
.footer-item:last-child{
    margin-bottom: 0;
}
.footer-head{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.4rem;
    margin-bottom: 4rem;
}
.footer-item .icon{
    width: 120px;
    margin: auto;
}
.footer-item .text{
    padding: 3rem 0;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}
.footer-item address{
    font-size: 1.5rem;
    font-style: normal;
}
.footer-item a{
    margin-bottom: 1rem;
    display: inline-block;
    transition: var(--transition);
}
.footer-item a:hover{
    color: var(--dark-gray);
}
.footer-item:last-child .text{
    padding-top: 0;
}
.footer-links{
    border-top: 2px solid var(--dark-gray);
    padding: 4.5rem 0;
}
.footer-links li{
    margin: 0 2.4rem;
    font-size: 2rem;
}
.footer-links li a{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--light-color);
    transition: var(--transition);
}
.footer-links li a:hover{
    background-color: var(--light-color);
    color: var(--dark-green-color);
}


/* Media Queries */
 @media(min-width: 450px){
    .navbar-collapse{
        width: 320px;
    }
    .btn{
        width: auto;
    }
    .btn:first-child{
        margin-right: 48px;
        margin-bottom: 0;
    }
    .border-line{
        width: 405px;
    }

}

@media(min-width: 768px){
    .services-inner, .doc-panel-inner{
        grid-template-columns: repeat(2, 1fr);
    }
    .doc-panel-inner{
         column-gap: 3rem;
    }
    .doc-panel .section-head h2{
        text-align: left;
    }
    .footer-inner{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
    }
    .footer-inner{
        text-align: left;
    }
    .footer-item .icon, .footer-item .text{
        margin-left: 0;
    }
    .footer-item .tags-list{
        justify-content: flex-start;
    }
}

@media(min-width: 992px){
    .header-inner .container{
        grid-template-columns: 545px auto;
        align-items: center;
        height: calc(100vh - 32px);
        position: relative;
    }
    .about-inner .container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }
    .about-left{
        text-align: left;
        margin-bottom: 0;
    }
    .about-left .section-head h2{
        text-align: left;
    }
    .border-line{
        margin-left: 0;
    }
    .border-line::after{
        left: 0;
        transform: translateX(0);
    }
    .about-right{
        margin-left: auto;
        margin-top: 11.2rem;
    }
    .container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
         column-gap: 6rem;
    }
    .doc-panel-inner{
        grid-template-columns: repeat(3, 1fr);
    }
    .doc-panel-item{
        margin-bottom: 0;
    }
    .contact .container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.4rem;
    }
}

@media(min-width: 1200px){
    .navbar-show-btn, .navbar-hide-btn{
        display: none;
    }
    .navbar-collapse{
        transform: translateX(0);
        position: relative;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        transition: none;
    }
    .navbar-nav{
        display: flex;
    }
    .nav-item{
        margin: 0;
        margin-left: 3.5rem;
    }
    .nav-link{
        color: var(--light-color);
        opacity: 1;
        font-weight: 500;
        position: relative;
    }
    .nav-link::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 2px;
        width: 0;
        background-color: var(--light-color);
        opacity: 0;
        transition: var(--transition);
    }
    .nav-link:hover{
        transform: none;
        color: var(--light-color);
    }
    .nav-link:hover::after{
        opacity: 1;
        width: 100%;
    }
    .second-logo{
        margin-left: 5.5rem;
    }
    .services-inner{
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
    }
    .service-item{
        margin-bottom: 0;
    }
    .doc-panel-inner{
        column-gap: 9rem;
    }
    .contact .container{
        grid-template-columns: auto 514px;
    }
    .footer-inner{
        grid-template-columns: repeat(4, 1fr);
        column-gap: 6rem;
    }
}

@media(min-width: 1480px){
    /* general */
     .container{
        max-width: 81vw;
    }
} 

/* transition and animation stopper */
 .resize-animation-stopper *{
    animation: none!important;
    transition: none!important; 
}  